.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/cifar10Sample.png");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 245px;
}

.u-section-1 .u-text-1 {
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
    margin: 0 408px 0 -202px;
}

.u-section-1 .u-text-2 {
    margin: 20px 0 0 206px;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin: 28px auto;
    padding: 11px 50px 11px 49px;
}

.u-section-1 .u-icon-1 {
    font-size: 1.3em;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 202px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 5px;
    }

    .u-section-1 .u-text-2 {
        margin-left: 106px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 155px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-1 .u-text-2 {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 116px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 73px;
    }
}

.u-section-2 {
    background-image: none;
}

.u-section-2 .u-sheet-1 {
    min-height: 419px;
}

.u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin: 20px auto 0 0;
}

.u-section-2 .u-list-1 {
    width: 1070px;
    margin: 24px auto 40px;
}

.u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    grid-gap: 50px 50px;
    min-height: 302px;
}

.u-section-2 .u-list-item-1 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
    background-image: none;
}

.u-section-2 .u-container-layout-1 {
    padding: 0 10px;
}

.u-section-2 .u-text-2 {
    font-weight: 700;
    margin: 0 344px 0 0;
}

.u-section-2 .u-btn-1 {
    background-image: none;
    padding: 0;
}

.u-section-2 .u-text-3 {
    margin: 12px 0 0;
}

.u-section-2 .u-list-item-2 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.u-section-2 .u-container-layout-2 {
    padding: 0 10px;
}

.u-section-2 .u-text-4 {
    font-weight: 700;
    margin: 0 344px 0 0;
}

.u-section-2 .u-btn-2 {
    background-image: none;
    padding: 0;
}

.u-section-2 .u-text-5 {
    margin: 12px 0 0;
}

.u-section-2 .u-list-item-3 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.u-section-2 .u-container-layout-3 {
    padding: 0 10px;
}

.u-section-2 .u-text-6 {
    font-weight: 700;
    margin: 0 344px 0 0;
}

.u-section-2 .u-btn-3 {
    background-image: none;
    padding: 0;
}

.u-section-2 .u-text-7 {
    margin: 12px 0 0;
}

.u-section-2 .u-list-item-4 {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.u-section-2 .u-container-layout-4 {
    padding: 0 10px;
}

.u-section-2 .u-text-8 {
    font-weight: 700;
    margin: 0 344px 0 0;
}

.u-section-2 .u-btn-4 {
    background-image: none;
    padding: 0;
}

.u-section-2 .u-text-9 {
    margin: 12px 0 0;
}

@media (max-width: 1199px) {
    .u-section-2 .u-list-1 {
        width: 940px;
    }

    .u-section-2 .u-repeater-1 {
        min-height: 466px;
    }

    .u-section-2 .u-text-2 {
        margin-right: 214px;
    }

    .u-section-2 .u-list-item-2 {
        background-size: auto;
    }

    .u-section-2 .u-text-4 {
        margin-right: 214px;
    }

    .u-section-2 .u-text-5 {
        margin-right: 10px;
    }

    .u-section-2 .u-list-item-3 {
        background-size: auto;
    }

    .u-section-2 .u-text-6 {
        margin-right: 214px;
    }

    .u-section-2 .u-list-item-4 {
        background-size: auto;
    }

    .u-section-2 .u-text-8 {
        margin-right: 214px;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-list-1 {
        width: 720px;
    }

    .u-section-2 .u-text-2 {
        margin-right: 0;
    }

    .u-section-2 .u-text-4 {
        margin-right: 0;
    }

    .u-section-2 .u-text-6 {
        margin-right: 0;
    }

    .u-section-2 .u-text-8 {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-list-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-2 .u-list-1 {
        width: 340px;
    }

    .u-section-2 .u-repeater-1 {
        grid-template-columns: 100%;
    }
}

.u-section-3 {
    background-image: none;
}

.u-section-3 .u-sheet-1 {
    min-height: 549px;
}

.u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin: 21px auto 0 0;
}

.u-section-3 .u-list-1 {
    width: 1144px;
    grid-template-rows: auto auto auto;
    margin: 21px -43px 0 auto;
}

.u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px 10px;
    min-height: 110px;
}

.u-section-3 .u-container-layout-1 {
    padding: 13px 11px;
}

.u-section-3 .u-text-2 {
    margin: 5px 19px 0 134px;
}

.u-section-3 .u-btn-1 {
    background-image: none;
    padding: 0;
}

.u-section-3 .u-icon-1 {
    height: 84px;
    width: 84px;
    margin: -80px auto -4px 0;
}

.u-section-3 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 44px;
}

.u-section-3 .u-layout-cell-1 {
    min-height: 295px;
    background-image: none;
}

.u-section-3 .u-container-layout-2 {
    padding: 30px 14px 12px 30px;
}

.u-section-3 .u-text-3 {
    font-size: 1rem;
    margin: 1px 0 0;
}

.u-section-3 .u-text-4 {
    margin: 5px 0 0;
}

.u-section-3 .u-layout-cell-2 {
    min-height: 295px;
    background-image: none;
}

.u-section-3 .u-container-layout-3 {
    padding: 29px;
}

.u-section-3 .u-text-5 {
    font-size: 1rem;
    margin: 0 1px;
}

.u-section-3 .u-text-6 {
    margin: 10px 0 0;
}

@media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
        min-height: 527px;
    }

    .u-section-3 .u-list-1 {
        width: 940px;
        margin-right: 0;
    }

    .u-section-3 .u-text-2 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-3 .u-icon-1 {
        margin-top: 20px;
        margin-right: 0;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 243px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 243px;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 564px;
    }

    .u-section-3 .u-list-1 {
        width: 720px;
    }

    .u-section-3 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 100px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1071px;
    }

    .u-section-3 .u-list-1 {
        width: 540px;
    }

    .u-section-3 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-3 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 789px;
    }

    .u-section-3 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-3 .u-list-1 {
        width: 340px;
    }
}

.u-section-4 {
    background-image: none;
}

.u-section-4 .u-sheet-1 {
    min-height: 238px;
}

.u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin: 4px auto 0 0;
}

.u-section-4 .u-table-1 {
    margin-top: 27px;
    margin-bottom: 35px;
}

.u-section-4 .u-table-entity-1 {
    min-height: 100px;
}

.u-section-4 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
}

.u-section-4 .u-table-cell-1 {
    margin-left: 0;
    margin-right: 997px;
}

.u-section-4 .u-table-cell-2 {
    margin-left: 142px;
    margin-right: 855px;
}

.u-section-4 .u-table-cell-3 {
    margin-left: 284px;
    margin-right: 714px;
}

.u-section-4 .u-table-cell-4 {
    margin-left: 425px;
    margin-right: 573px;
}

.u-section-4 .u-table-cell-5 {
    margin-left: 566px;
    margin-right: 432px;
}

.u-section-4 .u-table-cell-6 {
    margin-left: 707px;
    margin-right: 289px;
}

.u-section-4 .u-table-cell-7 {
    margin-left: 850px;
    margin-right: 148px;
}

.u-section-4 .u-table-cell-8 {
    margin-left: 991px;
    margin-right: 0;
}

.u-section-4 .u-table-cell-9 {
    font-weight: 700;
    margin-left: 0;
    margin-right: 997px;
}

.u-section-4 .u-table-cell-10 {
    margin-left: 142px;
    margin-right: 855px;
}

.u-section-4 .u-table-cell-11 {
    margin-left: 284px;
    margin-right: 714px;
}

.u-section-4 .u-table-cell-12 {
    margin-left: 425px;
    margin-right: 573px;
}

.u-section-4 .u-table-cell-13 {
    margin-left: 566px;
    margin-right: 432px;
}

.u-section-4 .u-table-cell-14 {
    margin-left: 707px;
    margin-right: 289px;
}

.u-section-4 .u-table-cell-15 {
    margin-left: 850px;
    margin-right: 148px;
}

.u-section-4 .u-table-cell-16 {
    margin-left: 991px;
    margin-right: 0;
}

@media (max-width: 1199px) {
    .u-section-4 .u-table-cell-1 {
        margin-right: 822px;
    }

    .u-section-4 .u-table-cell-2 {
        margin-left: 117px;
        margin-right: 705px;
    }

    .u-section-4 .u-table-cell-3 {
        margin-left: 234px;
        margin-right: 588px;
    }

    .u-section-4 .u-table-cell-4 {
        margin-left: 351px;
        margin-right: 472px;
    }

    .u-section-4 .u-table-cell-5 {
        margin-left: 467px;
        margin-right: 356px;
    }

    .u-section-4 .u-table-cell-6 {
        margin-left: 583px;
        margin-right: 238px;
    }

    .u-section-4 .u-table-cell-7 {
        margin-left: 701px;
        margin-right: 122px;
    }

    .u-section-4 .u-table-cell-8 {
        margin-left: 817px;
    }

    .u-section-4 .u-table-cell-9 {
        margin-right: 822px;
    }

    .u-section-4 .u-table-cell-10 {
        margin-left: 117px;
        margin-right: 705px;
    }

    .u-section-4 .u-table-cell-11 {
        margin-left: 234px;
        margin-right: 588px;
    }

    .u-section-4 .u-table-cell-12 {
        margin-left: 351px;
        margin-right: 472px;
    }

    .u-section-4 .u-table-cell-13 {
        margin-left: 467px;
        margin-right: 356px;
    }

    .u-section-4 .u-table-cell-14 {
        margin-left: 583px;
        margin-right: 238px;
    }

    .u-section-4 .u-table-cell-15 {
        margin-left: 701px;
        margin-right: 122px;
    }

    .u-section-4 .u-table-cell-16 {
        margin-left: 817px;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
        min-height: 474px;
    }

    .u-section-4 .u-table-cell-1 {
        margin-right: 635px;
    }

    .u-section-4 .u-table-cell-2 {
        margin-left: 84px;
        margin-right: 529px;
    }

    .u-section-4 .u-table-cell-3 {
        margin-left: 190px;
        margin-right: 423px;
    }

    .u-section-4 .u-table-cell-4 {
        margin-left: 296px;
        margin-right: 317px;
    }

    .u-section-4 .u-table-cell-5 {
        margin-left: 402px;
        margin-right: 239px;
    }

    .u-section-4 .u-table-cell-6 {
        margin-left: 480px;
        margin-right: 160px;
    }

    .u-section-4 .u-table-cell-7 {
        margin-left: 559px;
        margin-right: 82px;
    }

    .u-section-4 .u-table-cell-8 {
        margin-left: 637px;
    }

    .u-section-4 .u-table-cell-9 {
        margin-right: 635px;
    }

    .u-section-4 .u-table-cell-10 {
        margin-left: 84px;
        margin-right: 529px;
    }

    .u-section-4 .u-table-cell-11 {
        margin-left: 190px;
        margin-right: 423px;
    }

    .u-section-4 .u-table-cell-12 {
        margin-left: 296px;
        margin-right: 317px;
    }

    .u-section-4 .u-table-cell-13 {
        margin-left: 402px;
        margin-right: 239px;
    }

    .u-section-4 .u-table-cell-14 {
        margin-left: 480px;
        margin-right: 160px;
    }

    .u-section-4 .u-table-cell-15 {
        margin-left: 559px;
        margin-right: 82px;
    }

    .u-section-4 .u-table-cell-16 {
        margin-left: 637px;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
        min-height: 238px;
    }

    .u-section-4 .u-table-cell-1 {
        margin-right: 473px;
    }

    .u-section-4 .u-table-cell-2 {
        margin-left: 66px;
        margin-right: 367px;
    }

    .u-section-4 .u-table-cell-3 {
        margin-left: 172px;
        margin-right: 261px;
    }

    .u-section-4 .u-table-cell-4 {
        margin-left: 278px;
        margin-right: 155px;
    }

    .u-section-4 .u-table-cell-5 {
        margin-left: 384px;
        margin-right: 118px;
    }

    .u-section-4 .u-table-cell-6 {
        margin-left: 421px;
        margin-right: 79px;
    }

    .u-section-4 .u-table-cell-7 {
        margin-left: 460px;
        margin-right: 40px;
    }

    .u-section-4 .u-table-cell-8 {
        margin-left: 499px;
    }

    .u-section-4 .u-table-cell-9 {
        margin-right: 473px;
    }

    .u-section-4 .u-table-cell-10 {
        margin-left: 66px;
        margin-right: 367px;
    }

    .u-section-4 .u-table-cell-11 {
        margin-left: 172px;
        margin-right: 261px;
    }

    .u-section-4 .u-table-cell-12 {
        margin-left: 278px;
        margin-right: 155px;
    }

    .u-section-4 .u-table-cell-13 {
        margin-left: 384px;
        margin-right: 118px;
    }

    .u-section-4 .u-table-cell-14 {
        margin-left: 421px;
        margin-right: 79px;
    }

    .u-section-4 .u-table-cell-15 {
        margin-left: 460px;
        margin-right: 40px;
    }

    .u-section-4 .u-table-cell-16 {
        margin-left: 499px;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-text-1 {
        margin-top: 36px;
        font-size: 1.5rem;
    }

    .u-section-4 .u-table-1 {
        margin-top: 28px;
    }

    .u-section-4 .u-table-cell-1 {
        margin-right: 422px;
    }

    .u-section-4 .u-table-cell-2 {
        margin-right: 316px;
    }

    .u-section-4 .u-table-cell-3 {
        margin-right: 210px;
    }

    .u-section-4 .u-table-cell-4 {
        margin-right: 104px;
    }

    .u-section-4 .u-table-cell-5 {
        margin-right: 78px;
    }

    .u-section-4 .u-table-cell-6 {
        margin-left: 410px;
        margin-right: 52px;
    }

    .u-section-4 .u-table-cell-7 {
        margin-left: 436px;
        margin-right: 26px;
    }

    .u-section-4 .u-table-cell-8 {
        margin-left: 462px;
    }

    .u-section-4 .u-table-cell-9 {
        margin-right: 422px;
    }

    .u-section-4 .u-table-cell-10 {
        margin-right: 316px;
    }

    .u-section-4 .u-table-cell-11 {
        margin-right: 210px;
    }

    .u-section-4 .u-table-cell-12 {
        margin-right: 104px;
    }

    .u-section-4 .u-table-cell-13 {
        margin-right: 78px;
    }

    .u-section-4 .u-table-cell-14 {
        margin-left: 410px;
        margin-right: 52px;
    }

    .u-section-4 .u-table-cell-15 {
        margin-left: 436px;
        margin-right: 26px;
    }

    .u-section-4 .u-table-cell-16 {
        margin-left: 462px;
    }
}

.u-section-5 .u-sheet-1 {
    min-height: 431px;
}

.u-section-5 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
    min-height: 322px;
}

.u-section-5 .u-container-layout-1 {
    padding: 0;
}

.u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
    font-size: 1rem;
    margin: 13px 77px 0 100px;
}

.u-section-5 .u-btn-1 {
    background-image: none;
    padding: 0;
}

.u-section-5 .u-text-3 {
    font-size: 1.875rem;
    margin: 39px auto 0 0;
}

.u-section-5 .u-text-4 {
    font-size: 1rem;
    margin: 20px -80px 26px 103px;
}

@media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
        min-height: 334px;
    }

    .u-section-5 .u-layout-wrap-1 {
        position: relative;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 266px;
    }

    .u-section-5 .u-text-2 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-5 .u-text-4 {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
        min-height: 197px;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 100px;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-5 .u-text-3 {
        font-size: 1.5rem;
    }
}