.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 959px;
}

.u-section-1 .u-text-1 {
    font-weight: normal;
    font-size: 1.875rem;
    margin: 20px 337px 0 0;
}

.u-section-1 .u-list-1 {
    grid-template-rows: auto;
    margin-top: 31px;
    margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 379px;
    grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
    padding: 20px 30px;
}

.u-section-1 .u-image-1 {
    height: 221px;
    width: 155px;
    margin: 0 auto;
}

.u-section-1 .u-text-2 {
    margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    padding: 0;
}

.u-section-1 .u-text-3 {
    margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
    padding: 20px 30px;
}

.u-section-1 .u-image-2 {
    height: 221px;
    width: 155px;
    margin: 0 auto;
}

.u-section-1 .u-text-4 {
    margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
    background-image: none;
    padding: 0;
}

.u-section-1 .u-text-5 {
    margin: 20px 0 0;
}

.u-section-1 .u-container-layout-3 {
    padding: 20px 30px;
}

.u-section-1 .u-image-3 {
    height: 221px;
    width: 155px;
    margin: 0 auto;
}

.u-section-1 .u-text-6 {
    margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
    background-image: none;
    padding: 0;
}

.u-section-1 .u-text-7 {
    margin: 20px 0 0;
}

.u-section-1 .u-container-layout-4 {
    padding: 20px 30px;
}

.u-section-1 .u-image-4 {
    height: 221px;
    width: 155px;
    margin: 0 auto;
}

.u-section-1 .u-text-8 {
    margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
    background-image: none;
    padding: 0;
}

.u-section-1 .u-text-9 {
    margin: 20px 0 0;
}

.u-section-1 .u-list-2 {
    grid-template-rows: auto;
    width: 570px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-repeater-2 {
    grid-template-columns: 50% 50%;
    min-height: 402px;
    grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-5 {
    padding: 0;
}

.u-section-1 .u-image-5 {
    height: 236px;
    width: 158px;
    margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
    margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
    background-image: none;
    padding: 0;
}

.u-section-1 .u-text-11 {
    margin: 20px 30px 0;
}

.u-section-1 .u-btn-6 {
    background-image: none;
    padding: 0;
}

.u-section-1 .u-container-layout-6 {
    padding: 0;
}

.u-section-1 .u-image-6 {
    height: 236px;
    width: 158px;
    margin: 20px auto 0;
}

.u-section-1 .u-text-12 {
    margin: 20px auto 0;
}

.u-section-1 .u-btn-7 {
    background-image: none;
    padding: 0;
}

.u-section-1 .u-text-13 {
    margin: 20px 30px 0;
}

.u-section-1 .u-group-1 {
    width: 437px;
    min-height: 206px;
    background-image: none;
    height: auto;
    margin: -312px 47px 60px auto;
}

.u-section-1 .u-container-layout-7 {
    padding: 0 11px;
}

.u-section-1 .u-text-14 {
    font-size: 1.875rem;
    margin: 30px 299px 0 0;
}

.u-section-1 .u-text-15 {
    font-size: 1.125rem;
    margin: 8px 5px 0 0;
}

.u-section-1 .u-btn-8 {
    background-image: none;
    padding: 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
        margin-right: 137px;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: 33.3333% 33.3333% 33.3333%;
        min-height: 313px;
    }

    .u-section-1 .u-repeater-2 {
        grid-template-columns: 33.3333% 33.3333% 33.3333%;
    }

    .u-section-1 .u-group-1 {
        height: auto;
    }

    .u-section-1 .u-container-layout-7 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-text-1 {
        margin-right: 0;
    }

    .u-section-1 .u-repeater-1 {
        grid-template-columns: 50% 50%;
        min-height: 719px;
    }

    .u-section-1 .u-repeater-2 {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-list-2 {
        width: 540px;
    }

    .u-section-1 .u-repeater-2 {
        grid-template-columns: 100%;
    }

    .u-section-1 .u-text-11 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-text-13 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .u-section-1 .u-container-layout-7 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-1 .u-list-2 {
        width: 340px;
    }

    .u-section-1 .u-text-11 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-text-13 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-group-1 {
        width: 340px;
        margin-right: 0;
    }

    .u-section-1 .u-text-14 {
        font-size: 1.5rem;
        margin-right: 202px;
    }

    .u-section-1 .u-text-15 {
        margin-right: 0;
    }
}